# **Day2**

1.   Collections: List, tuples, Sets, dictionary 
3. Loop and conditional control
4. Funtions 


**List** is a collection which is ordered and changeable. Allows duplicate members.

In [80]:
#All list are indexed starting from zero
# Number elements
intlist = [1,2,3]

#String Element
stringlist = ['apple', "banana", "cherry"]

#Mix elements
hybrid = [1,"Apple",2, 'H',2.3]

print(intlist,"--",stringlist,"--",hybrid)

# Accessing List element and elements
# When Accessing range like list[start:end] 
# start index item is (included) and end index item is (not included).

print(intlist[0],"--",intlist[1:3],"--",hybrid[-1],"--", stringlist[:2])

#Change valuse of list
hybrid[1] = "Mango"

print("After update hybridlist: ",hybrid)

[1, 2, 3] -- ['apple', 'banana', 'cherry'] -- [1, 'Apple', 2, 'H', 2.3]
1 -- [2, 3] -- 2.3 -- ['apple', 'banana']
After update hybridlist:  [1, 'Mango', 2, 'H', 2.3]

**Exerceise** 

1. Use only start index to select all elements from start index up to end.
2. Use negative range to select last two elements.
3. Update  floating point element of hybrid list with nearest number from intlist.

In [0]:
#Exerceise

#Todo: Use only start index to select all elements from start index up to end. Such as list[3:]

#Todo: Use negative range to select last two elements. list[-3:-1]

#Todo: Update float floating point element of hybrid list with nearest number from intlist.

**List functions**
1. cmp(list1, list2)
2. len(list)
3. max(list)
4. min(list)

In [0]:
# Exercise

# Todo: compate list list1[1,2,3], list[1,2,3,4] and list[1,2,3]

#Todo: find lenght of stringlist

#Todo:Do summession of max and min of list1 and intlist

**List Methods**

In [83]:
# list.append(obj)
print("Before append: ",intlist)
intlist.append("New Element")
print("After append: ",intlist)

Before append:  [1, 2, 3, 'New Element']
After append:  [1, 2, 3, 'New Element', 'New Element']

In [84]:
#list.count(obj)
c = intlist.count("New Element")
print(c)

2

In [18]:
#list.index(obj)

print(intlist.index("New Element"))

3

In [85]:
#list.insert(index, obj)

intlist.insert(3, "Inserted")
print(intlist)

[1, 2, 3, 'Inserted', 'New Element', 'New Element']

**Exercise**

1. Use list.remove(obj) to remove "New Element" element from the intlist.
2. Use list.remove(obj) to remove "Inserted" element from the intlist.
3. Use list.reverse() to reverse intlist.
4. Use list.sort() to sort intlist.

**Multi Dimentional List/ Nested list**

Simply it is a list of list

In [86]:
a = [[1, 2, 3], [4, 5, 6]]
print(a[0])
print(a[1])
b = a[0]
print(b)
print(a[0][2])

[1, 2, 3]
[4, 5, 6]
[1, 2, 3]
3

**Tuple**

A tuple is a collection which is ordered and unchangeable

In [89]:
stringtuple = ("apple", "banana", "cherry")
print(stringtuple)
print(stringtuple[0])
#stringtuple[0] = "Mango"

('apple', 'banana', 'cherry')
apple

In [0]:
#Exerceise: Updating in tuple via list

#Todo: Create tuple with 3 elements

#Todo: Convert tuple to list using list(tuple_name) function

#Todo: update elemement

#todo: convert list to tuple using tuple(list_name) function

## **sets**
## A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [90]:
stringset = {"apple", "banana", "cherry"}
print(stringset)

#Add Items
#To add one item to a set use the add() method.
stringset.add("Mango")
#To add more than one item to a set use the update() method.
stringset.update([1,2])

print(stringset)

{'cherry', 'banana', 'apple'}
{1, 'apple', 2, 'Mango', 'cherry', 'banana'}

**Other useful methods on sets**
1. stringset.difference()
2. stringset.intersection()
3. srtingset.remove()
4. stringset.union()

In [0]:
#Exercise

#Todo: Create set1{1,2,3,4} and set2{2,3,4,5}

#Todo: use set1.difference(set2) and write your observation

#Todo: use set1.intersection(set2) and write your observation

#Todo: use set.remove(element) to remove 4 from both sets

#Todo: use set1.union(set2) and write your observation

**Dictionary**

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [44]:
cardict = {
  "brand": "Maruti",
  "model": "Ignis",
  "year": 2015
}
print(cardict["model"])

Ignis

In [53]:
cardict = {
    "car1" : {
  "brand": "Maruti",
  "model": "Ignis",
  "year": [2016,2019],
  },
   "car2": {
  "brand": "Maruti",
  "model": "Baleno",
  "year": 2016
  },
   "car3" : {
  "brand": "Maruti",
  "model": "Nexa",
  "year": 2020
  },
}
print(cardict["car1"])

{'brand': 'Maruti', 'model': 'Ignis', 'year': 2015}

### **Loop and Conditional Control**
Python supports

if statement 

if..else statement

and nested if statment

In [93]:
#Simple if
var = 100
if( var != 100):
  print("Value of expression is 100")
print( "Good bye!")

IndentationError: ignored

In [94]:
#Simple if else

var = 100
if ( var != 100 ) : 
  print("Value of expression is 100")
else:  
  print("Good bye!")

Good bye!

In [0]:
#Exercise

#Todo: initialize three variables a,b,c

#Todo: use nested if to find max of a,b,c and output max  value.

**elif** if else ladder

In [63]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

**shorthand if**

In [96]:
a = 2
b = 330
print("A") if a > b else print("B")

B

**The pass Statement**

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [97]:
a = 33
b = 200

if b > a:
  pass

SyntaxError: ignored

**if With list**

In [99]:
if 1 in intlist:
  print("OK")

OK

**Python Loops**

Python has two primitive loop commands:

while loops


for loops

In [100]:
# While loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [101]:
# else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Python For Loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [102]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**Looping Through a String**

In [103]:
for x in "banana":
  
  print(x)

b
a
n
a
n
a

**Exercise:**

Use break statement t break loop if value if bannana

In [0]:
#Exercise:

#Todo: create list of fruit names

#Todo: use loop to print all fruit names

#Todo: Use break to skip priting after bannana

**Exercise:**

The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

Use continue statment to skip printing of bannana values

In [0]:
#Exercise:

#Todo: create list of fruit names

#Todo: use loop to print all fruit names

#Todo: Use continue to skip priting  bannana value

**Range Function**

In [106]:
for x in range(4,10,2):
  print(x)

4
6
8

**Else in a loop**

In [78]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [118]:
print(myfunction2(3))

4

In [0]:
def myfunction2(a):
  b = a+1
  return b
  
#print(myfunction2(5))

In [113]:
print(myfunction1(6))

7